html,
body {
    height: 100%;
}

body {
    background-color: #DDE7C7;
    margin: 0;
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    li {
        padding: 0 0 5px 0;
        margin: 10px 0;
        border-left: 8px solid #333;
        background-color: white;
        .overview-header {
            background-color: #333;
            padding: 5px 15px 5px 5px;
            margin: 3px 0;
            color: #ccc;
            h3 {
                font-weight: normal;
                display: inline-block;
                width: 50%;
                margin: 8px 0;
            }
            p {
                display: inline-block;
                float: right;
                width: 45%;
                margin: 6px 0 8px 0;
                vertical-align: center;
                text-align: right;
            }
            .difficulty {
                font-size: 1.4em;
                vertical-align: center;
                padding: 3px;
                
                &.disabled {
                    opacity: .15;
                }
            }
            .difficulty-label {
                display: inline-block;
                width: 15%;
            }
        }
        a {
            text-decoration: none;
            color: inherit;
        }
        p {
            padding-left: 8px;
        }
    }
}

main {
    padding: 1%;
    display: flex;
    flex-direction: column;
    #solution-space {
        flex: 1;
        position: relative;
        #code {
            height: 80%;
        }
        #solution-button {
            cursor: pointer;
            border: 1px solid #333;
            position: absolute;
            right: 20px;
            top: 20px;
            z-index: 20;
            border-radius: 3px;
            
            background-color: #EDEEC9;
            border: 2px solid #333;
            box-shadow: 0 0 3px #999;
            
            #solution-button-icon {
                background-color: limegreen;
                padding: 10px 15px;   
                display: inline-block;
                border-right: 1px solid #333;
            }
            
            #solution-button-status {
                font-size: .9em;
                margin: 0 10px;
                vertical-align: middle;
                display: inline-block;
            }
        }
    }
    code {
        font-size: 1.2em;
    }
}