
html,
body {
    height: 100%;
}

body {
    background-color: #E8EDDF;
    padding-top: 50px;
    margin: 0;
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    
    h3 {
        font-weight: normal;
    }
        
    #profile {
        img {
            width: 120px;
            height: 120px;
            margin: 5px 5px 5px 0;
            border: 1px solid $background-color;
        }
        #profile-info {
            display: inline-block;
            vertical-align: top; 
            h2 {    
                margin: 10px 0;
            }
        
            h3 {
                margin: 8px 0;
            }
        }
    }
    
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    li {
        padding: 0 0 5px 0;
        margin: 10px 0;
        border-left: 8px solid $background-color;
        background-color: white;
        
        &.finished {
            opacity: .4;        
        }
        &.finished:hover {
            opacity: 1;
        }
        
        .overview-header {
            background-color: $background-color;
            padding: 5px 15px 5px 5px;
            margin: 3px 0;
            color: #ccc;
            h3 {
                font-weight: normal;
                display: inline-block;
                width: 50%;
                margin: 8px 0;
            }
            p {
                display: inline-block;
                width: 45%;
                margin: 6px 0 8px 0;
                vertical-align: center;
                text-align: right;
            }
            .difficulty {
                font-size: 1.4em;
                vertical-align: center;
                padding: 3px;
                
                &.disabled {
                    opacity: .15;
                }
            }
            .difficulty-label {
                display: inline-block;
                width: 15%;
            }
        }
        a {
            text-decoration: none;
            color: inherit;
        }
        p {
            padding-left: 8px;
        }
    }
}

main {
    #description {
        font-weight: 300;
        
        code {
            font-weight: 300;
            font-size: 1.1em;
        }
        
        ul {
            list-style-type: disc;
            background-color: inherit;
            padding-left: 2%;
            
            li {
                background-color: inherit;
                border-width: 0;
            }
        }
    }
    padding: 1%;
    #solution-space {
        flex: 1;
        position: relative;
        #code {
            height: 80%;
        }
        #solution-button {
            cursor: pointer;
            border: 1px solid $background-color;
            position: absolute;
            right: 20px;
            top: 20px;
            z-index: 20;
            border-radius: 3px;
            
            background-color: #EDEEC9;
            border: 2px solid $background-color;
            box-shadow: 0 0 3px #999;
            
            #solution-button-icon {
                background-color: limegreen;
                padding: 10px 15px;   
                display: inline-block;
                border-right: 1px solid $background-color;
            }
            
            #solution-button-status {
                font-size: .9em;
                margin: 0 10px;
                vertical-align: middle;
                display: inline-block;
            }
        }
    }
    code {
        font-size: 1.2em;
    }
}