html
    include ./partial/head.jade
    
    body
        include ./partial/header.jade
        main(id="content") 
            ul
                each problem in problems
                    li 
                        a(href="/challenge/#{problem.id}")
                            div(class='problem-overview')
                                div(class='overview-header')
                                    h3 #{problem.title}
                                    p 
                                        - for (var i = 0; i < 5; i++) {
                                            if (i < problem.difficulty)
                                                span(class="difficulty") &#9873;
                                            else
                                                span(class="difficulty disabled") &#9873;
                                        - }
                                        if problem.difficulty === 5
                                            span(class="difficulty-label") Nightmare
                                        else if problem.difficulty === 4
                                            span(class="difficulty-label") Challenge
                                        else if problem.difficulty === 3
                                            span(class="difficulty-label") Hard
                                        else if problem.difficulty === 2
                                            span(class="difficulty-label") Normal
                                        else if problem.difficulty === 1
                                            span(class="difficulty-label") Beginner
                                p !{problem.description}