html
    include ./partial/head.jade
    //- Load ACE code editor (used to render content area)
    script(src="https://cdn.jsdelivr.net/ace/1.2.3/min/ace.js")
    script(type="text/javascript")
      //- Set the challenge_id so that it can be used in app.js on a
      //- per-solution basis.
      | var ctx = {
      |   challenge: #{id},
      |   attempt: {{ attempt }},
      |   seed: {{ seed }},
      | };
    script(src="/js/app.js")
    
    body
        include ./partial/header.jade
        main(id="content")
            span(id="description") !{description}
            
            div(id="solution-space")
                div(id="code",contentEditable="true") #{starter}
            
                div(id="solution-header")
                    div Status:&nbsp;
                        span(id="status") idle
                    button(id="test") Test solution
