head
    if title
        title #{title}
    else
        title code oil
    link(href='https://fonts.googleapis.com/css?family=Lato:400,300,700',rel="stylesheet",type="text/css")
    link(rel="stylesheet",href="/css/main.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/seedrandom/2.4.0/seedrandom.min.js")